body{
<<<<<<< HEAD
    background-color: gray;
=======
    background-color: #2d2d2d;
    color: blue;
>>>>>>> master
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
h1{
<<<<<<< HEAD
    color: black !important;
=======
    color: red !important;
>>>>>>> master
}
.header{
    background-color:  #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    box-shadow: 60px -16px black;
=======
    box-shadow: 10px black;
>>>>>>> master
}